@model IEnumerable<CarRentalSystem.Models.Booking>

@{
    ViewData["Title"] = "Rezerwacje";
}

<h1>Lista Rezerwacji</h1>

<p>
    <a asp-action="Create">Dodaj nową rezerwację</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            <td>
                @if (item.Car != null)
                {
                    @item.Car.Brand @: @item.Car.Model
                }
                else
                {
                    <span class="text-muted">Brak auta</span>
                }
            </td>
            <td>
                @if (item.Client != null)
                {
                    <strong>@item.Client.Email</strong>
                }
                else
                {
                    <span class="text-danger">Błąd: Nie załadowano danych klienta</span>
                }
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> @:|
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a> @:|
                }
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>